

/**************** Estilos bar ********************/

.nav-link:hover {
    color: #5a492d;  /* Cambiar el color del texto al pasar el cursor */
    background-color: rgba(189, 159, 159, 0.1);  /* Fondo ligeramente visible */
    border-radius: 5px;  /* Bordes redondeados */
}

.nav-link.active {
    color: #000 !important;  /* Cambiar el color del texto cuando el enlace está activo */
    background-color: #e2e4e6;  /* Cambiar el color de fondo cuando el enlace está activo */
    border-radius: 5px;  /* Bordes redondeados */
}

.navbar-brand {
    display: flex;
    align-items: center;  /* Alinea el logo y texto verticalmente */
    justify-content: center; /* Alinea el logo y texto horizontalmente */
  }
  
  .logo {
    padding-right: 5px;
    max-width: 100%;  /* Evita que la imagen se desborde */
    height: auto;     /* Mantiene la proporción de la imagen */
  }


/************************************/

p {
    margin-top: 15px;
    font-size: 16px;
    color: #666;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #4caf50;
    border-radius: 4px;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box {
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at top left, #fff 0%, #f9b525 40%, #f9b525 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    border-radius: 50%; /* Cambiado a 50% para asegurar una forma circular */
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 
                inset 0 -4px 6px rgba(0, 0, 0, 0.2), 
                0 0 15px rgba(255, 234, 0, 0.6); /* Efecto brillante */
    position: relative;
    overflow: hidden;
}

/* Efecto de brillo animado */
.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 60%);
    transform: rotate(45deg);
    animation: shine 3s infinite linear;
    pointer-events: none;
}

/* Animación de brillo */
@keyframes shine {
    0% {
        transform: rotate(45deg) translateX(-200%);
    }
    100% {
        transform: rotate(45deg) translateX(200%);
    }
}

/* Efecto de brillo animado */
.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 60%);
    transform: rotate(45deg);
    animation: shine 3s infinite linear;
    pointer-events: none;
}

/* Balota especial */
.super_balota .box {
    background: radial-gradient(circle at top left, #fff 0%, #f9566e 50%, #c21838 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 
                inset 0 -4px 6px rgba(0, 0, 0, 0.2), 
                0 0 15px rgba(249, 86, 110, 0.6); /* Efecto brillante personalizado */
}

/* Brillo animado para la super balota */
.super_balota .box::before {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0) 60%);
    animation: super-shine 3s infinite linear;
}

/* Animación para la super balota */
@keyframes super-shine {
    0% {
        transform: rotate(45deg) translateX(-200%);
    }
    100% {
        transform: rotate(45deg) translateX(200%);
    }
}

.box-label {
    font-weight: bold;
    margin-bottom: 5px;
}



.results {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
    margin-bottom: 20px;
    text-align: center;
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #054fcf;
    border: none;
    border-radius: 20px !important;
    cursor: pointer;
}

button:hover {
    background-color: #bebfbe;
}

button:active {
    background-color: #fff;
    color: #666;
    border: 0.5px solid #4caf50;
}

.hidden {
    display: none;
}

/* Otros estilos existentes */
/* .title {
    text-align: center;
    color: #218838;
    font-weight: bold;
}

ol {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ol li {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
    padding-left: 10px;
}

ol li::marker {
    color: #4caf50;
    font-weight: bold;
}



 */
