/************** Contacto ****************/

/* Estilos para la sección de "Contáctanos" */
.contact-section {
    color: white;
    padding: 50px 20px;
    text-align: center;
}

/* Título de la sección "Contáctanos" */
.contact-section .section-title {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Botón de contacto */
.contact-section .btn-custom {
    background-color: #ffcc00;
    border: none;
    padding: 12px 24px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.contact-section .btn-custom:hover {
    background-color: #ff9900;
    transform: scale(1.05);
}

/***************** fin contacto ************************/