/************** Nosotros ****************/

/* Estilos específicos para la página de "Nosotros" */
.nosotros-page {
    color: #333;  /* Color de texto más suave */
    padding: 92px 20px;
}

.bg-custom {
    background-color: #f4f4f4;
    color: #333;
}

/* Título de la sección "Sobre nosotros" */
.nosotros-page .section-title {
    font-size: 3rem;  /* Tamaño de fuente mayor */
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;  /* Título con mayúsculas */
    letter-spacing: 2px;
}

/* Sección de contenido */
.content-section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Estilos de las tarjetas */
.card-custom {
    border-radius: 10px;  /* Bordes redondeados */
    overflow: hidden;  /* Para que las imágenes no sobresalgan */
    background-color: white;  /* Fondo blanco para las tarjetas */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}

.card-custom:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

/* Estilos de los miembros del equipo */
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.team-member h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.contact-text {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Botón de contacto */
.btn-custom {
    background-color: #ffcc00;
    border: none;
    padding: 12px 24px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 0 auto;
}

.btn-custom:hover {
    background-color: #ff9900;
    transform: scale(1.05);
}

/***************** fin nosotros ************************/