<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mejora tus Jugadas: Predicciones Baloto con IA</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles_index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Google tag (gtag.js) -->
    

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GSBXM5GREE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GSBXM5GREE');
    </script>

</head>

<body>
    <!-- <div class="logo">
        <img src="./static/images/img/logo_predi_baloto.png" alt="logo" class="logo-img">
    </div> -->
    <!-- Header -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- Logo dentro del contenedor navbar-brand -->
            <a class="navbar-brand" href="#">
                <!-- Imagen del logo -->
                <img src="../static/images/img/logo_predi_baloto.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top logo">
                <!-- Texto o nombre del logo -->
                Apuestas Basadas en Datos
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cómo funciona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <ol>
        <li>
            <strong>Análisis de patrones:</strong>
            Nuestro sistema de predicción se basa en un análisis avanzado de grandes cantidades de
            datos históricos, identificando patrones y comportamientos recurrentes en los números ganadores.
            Utilizando algoritmos de aprendizaje automático, nuestro programa aprende de las tendencias más
            recientes y ajusta sus predicciones de manera continua para ofrecerte combinaciones con una
            probabilidad más alta de éxito. Aunque los sorteos son aleatorios, nuestro enfoque matemático
            te da una ventaja al generar sugerencias que están fundamentadas en análisis reales, no en pura
            suerte. Lo mejor de todo es que presentamos estos resultados de manera sencilla y fácil de
            entender, para que puedas tomar decisiones informadas sin complicaciones ni necesidad de ser
            un experto. Con nuestro servicio, puedes confiar en que estás utilizando herramientas de análisis
            de vanguardia para mejorar tus posibilidades.
        </li>

    </ol> -->
    <p><strong>Nota importante:</strong>
        Si bien las predicciones están basadas en análisis y modelos de aprendizaje, los resultados de loterías son
        completamente aleatorios. Este programa debe ser utilizado como una herramienta para enriquecer la experiencia
        de juego, no como una garantía de éxito.</p>


    <div class="container">
        <div class="box-wrapper">
            <div class="box-label">B1</div>
            <div class="box">00</div>
        </div>
        <div class="box-wrapper">
            <div class="box-label">B2</div>
            <div class="box">00</div>
        </div>
        <div class="box-wrapper">
            <div class="box-label">B3</div>
            <div class="box">00</div>
        </div>
        <div class="box-wrapper">
            <div class="box-label">B4</div>
            <div class="box">00</div>
        </div>
        <div class="box-wrapper">
            <div class="box-label">B5</div>
            <div class="box">00</div>
        </div>
        <div class="box-wrapper super_balota">
            <div class="box-label">SB</div>
            <div class="box">00</div>
        </div>
    </div>

    <div class="button-container">
        <button id="fetchButton">Consultar</button>
    </div>


    <!--<footer>
        <p>&copy; 2024 Mi Página</p>
    </footer>-->

    <!-- Aquí puedes incluir tus scripts -->
    <script src="../static/js/script_index.js"></script>
    <!-- Script de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>